<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null"/>
      </sectionGroup>
    </sectionGroup>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <system.web>
    <httpRuntime maxRequestLength="1048576" maxQueryStringLength="65535" requestPathInvalidCharacters="" requestValidationMode="2.0"/>
    <trace localOnly="false" mostRecent="true" pageOutput="true"/>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="Static">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </controls>
    </pages>
    <httpHandlers>
      <remove path="ChartImg.axd" verb="GET,HEAD,POST"/>
      <remove path="Telerik.ReportViewer.axd" verb="*"/>
      <remove path="ScriptResource.axd" verb="GET,HEAD"/>
      <remove path="Telerik.Web.UI.WebResource.axd" verb="*"/>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
      <add type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=9.2.15.930, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" path="Telerik.ReportViewer.axd" verb="*"/>
    </httpHandlers>
    <sessionState mode="InProc" timeout="1440"/>
    
    <compilation batch="false" targetFramework="4.0" debug="true">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Stimulsoft.Report, Version=2013.1.1600.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A"/>
        <add assembly="Stimulsoft.Base, Version=2013.1.1600.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A"/>
        <add assembly="Stimulsoft.Report.Web, Version=2013.1.1600.0, Culture=neutral, PublicKeyToken=EBE6666CBA19647A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
      <buildProviders>
        <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      </buildProviders>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Default.aspx" timeout="2880" cookieless="UseCookies"/>
    </authentication>
    <customErrors mode="Off"/>
    <authorization>
      <allow users="*"/>
    </authorization>
  </system.web>
  <appSettings>
    <add key="BasicDatePicker.LicenseKey" value="8pMpDZoN7/ClIe4FL61L+rU++viBAhuBw2N0AZTJxDeXekCf3cAiAtD0JZv7Vwb1"/>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
    <add key="ExcelReports" value="C:\TempImageFiles"/>
    <add key="SMTPClient" value="www.affinity-soft.com"/>
    <add key="SMTPUserName" value="enablesupport"/>
    <add key="SMTPPassword" value="eiadmin1"/>
    <add key="vs:EnableBrowserLink" value="false"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="EnableIndiaConnectionString" connectionString="Data Source=enable-erp.clxujurtxtce.ap-southeast-1.rds.amazonaws.com;UserID=root;Password=affinity;Initial Catalog=enableindiapub;Pooling=false;" providerName="MySql.Data.MySqlClient"/>-->
    <remove name="EnableIndiaConnectionString"/>
    <remove name="stiConnectionString"/>
    <remove name="enableindia"/>
    <!--<add name="EnableIndiaConnectionString" connectionString="Data Source=enable-erp.clxujurtxtce.ap-southeast-1.rds.amazonaws.com;UserID=root;Password=affinity;Initial Catalog=enableindia;Pooling=false;" providerName="MySql.Data.MySqlClient"/>-->
    <add name="EnableIndiaConnectionString" connectionString="Data Source=enable-erp.clxujurtxtce.ap-southeast-1.rds.amazonaws.com;UserID=root;Password=affinity;Initial Catalog=enable_india_testing;Pooling=false;" providerName="MySql.Data.MySqlClient" />
    <!--<add name="EnableIndiaConnectionString" connectionString="Data Source=127.0.0.1;UserID=root;Password=affinity;Initial Catalog=enableindia;Pooling=false;" providerName="MySql.Data.MySqlClient" />-->
    <add name="stiConnectionString" connectionString="Server=enable-erp.clxujurtxtce.ap-southeast-1.rds.amazonaws.com;Port=3306;Database=enableindia;Uid=root;Pwd=rootroot;"/>
    <add name="enableindia" connectionString="server=enable-erp.clxujurtxtce.ap-southeast-1.rds.amazonaws.com;User Id=root;password=affinity;Persist Security Info=True;database=enableindia" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="32767" maxAllowedContentLength="1073741824"/>
        <fileExtensions>
          <remove fileExtension=".axd"/>
          <add fileExtension=".axd" allowed="true"/>
        </fileExtensions>
      </requestFiltering>
    </security>
    <!--<defaultDocument>
      <files>
        <add value="Default.aspx" />
      </files>
    </defaultDocument>-->
    <modules runAllManagedModulesForAllRequests="true">
      <!-- IIS 7.X - Registers 51Degrees Detector Module. Without this call to 51Degrees.core.js won't work.-->
      <remove name="Detector"/>
      <add name="Detector" type="FiftyOne.Foundation.Mobile.Detection.DetectorModule, FiftyOne.Foundation"/>
    </modules>
    <handlers>
      <remove name="ChartImageHandler"/>
      <remove name="ScriptHandler"/>
      <remove name="Telerik.Web.UI.WebResource"/>
      <remove name="Telerik.ReportViewer.axd_*"/>
      <add name="ScriptHandler" path=".asmx" verb="" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="Telerik.Web.UI.WebResource" path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI"/>
      <add name="Telerik.ReportViewer.axd_*" type="Telerik.ReportViewer.WebForms.HttpHandler, Telerik.ReportViewer.WebForms, Version=9.2.15.930, Culture=neutral, PublicKeyToken=a9d7983dfcc261be" path="Telerik.ReportViewer.axd" verb="*" preCondition="integratedMode"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <defaultDocument>
      <files>
        <clear/>
        <add value="Default.aspx"/>
      </files>
    </defaultDocument>
  <staticContent>
         <mimeMap fileExtension=".apk"
                  mimeType="application/vnd.android.package-archive" />
      </staticContent>
  </system.webServer>
  <system.net>
    <mailSettings>
      <smtp from="notification@enable-india.info">
        <network host="Localhost" password="" userName=""/>
      </smtp>
    </mailSettings>
  </system.net>
  <!--<businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true" />
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.5.4.0" newVersion="6.5.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Forms" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.5.4.0" newVersion="6.5.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>